In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset/spotify_millsongdata.csv")
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [3]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [4]:
df.shape

(57650, 4)

In [5]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [6]:
# Take a sample of 5000 from the data and Drop link column
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)
df.head()

,artist,song,text
0,Stevie Wonder,My Girl,I've got sunshine on a cloudy day \r\nWhen it...
1,Toto,Falling In Between,"I've just got to find \r\nFind a way, back ho..."
2,Kris Kristofferson,The Bandits Of Beverly Hills,The knew the moment their eyes came together ...
3,John Prine,Take The Star Out Of The Window,Robert was a sailor \r\nFor the best years of...
4,Dean Martin,Dream,Stars shining bright above you \r\nNight bree...

In [7]:
# View the lyrics of the first song
df['text'][0]

"I've got sunshine on a cloudy day  \r\nWhen it's cold outside I've got the month of May  \r\nI guess you'd say  \r\nWhat can make me feel this way?  \r\nMy girl (my girl, my girl)  \r\nTalkin' 'bout my girl (my girl)  \r\n  \r\nI've got so much honey the bees envy me  \r\nI've got a sweeter song than the birds in the trees  \r\nI guess you'd say  \r\nWhat can make me feel this way?  \r\nMy girl (my girl, my girl)  \r\nTalkin' 'bout my girl (my girl)  \r\n  \r\nHey hey hey  \r\nHey hey hey  \r\nOoh  \r\n  \r\nI don't need no money, fortune, or fame  \r\nI've got all the riches baby one man can claim  \r\nI guess you'd say  \r\nWhat can make me feel this way?  \r\nMy girl (my girl, my girl)  \r\nTalkin' 'bout my girl (my girl)  \r\n  \r\nI've got sunshine on a cloudy day  \r\nWith my girl  \r\n  \r\nI've even got the month of May  \r\nWith my girl\r\n\r\n"

In [8]:
df.shape

(5000, 3)

In [9]:
# Data cleaning/preprocessing
# remove \n in the lyrics columns
df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

0       i've got sunshine on a cloudy day  \r when it'...
1       i've just got to find  \r find a way, back hom...
2       the knew the moment their eyes came together  ...
3       robert was a sailor  \r for the best years of ...
4       stars shining bright above you  \r night breez...
                              ...
4995    this could be our last good night together  \r...
4996    i was on my way down to mexico,  \r there was ...
4997    you know, boy  \r you're so busy reaching for ...
4998    if i want some beer  \r i don't want to hear  ...
4999    now lay me down on market street  \r i'm looki...
Name: text, Length: 5000, dtype: object

In [10]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [11]:
df.head()

,artist,song,text
0,Stevie Wonder,My Girl,i've got sunshine on a cloudy day \r when it'...
1,Toto,Falling In Between,"i've just got to find \r find a way, back hom..."
2,Kris Kristofferson,The Bandits Of Beverly Hills,the knew the moment their eyes came together ...
3,John Prine,Take The Star Out Of The Window,robert was a sailor \r for the best years of ...
4,Dean Martin,Dream,stars shining bright above you \r night breez...

In [12]:
df.tail()

,artist,song,text
4995,Kris Kristofferson,Please Don't Tell Me How The Story Ends,this could be our last good night together \r...
4996,ZZ Top,Goin' Down To Mexico,"i was on my way down to mexico, \r there was ..."
4997,Donna Summer,All Through The Night,"you know, boy \r you're so busy reaching for ..."
4998,NOFX,Beer Bong,if i want some beer \r i don't want to hear ...
4999,Nazareth,Alcatraz,now lay me down on market street \r i'm looki...

In [13]:
import nltk

# Download the 'punkt' resource
nltk.download('punkt')
nltk.download('punkt_tab')

from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

# Initialize the stemmer
stemmer = PorterStemmer()

# Define the tokenizer function
def tokenizer(text):
    token = word_tokenize(text)  # Tokenizes the text
    s = [stemmer.stem(t) for t in token]  # Stems each token
    return " ".join(s)

# Test the tokenizer
print(tokenizer("You are beautiful."))

you are beauti .

[nltk_data] Downloading package punkt to /Users/raphsmart/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     /Users/raphsmart/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [15]:
df['text'] = df['text'].apply(lambda x: tokenizer(x))

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [18]:
similarity[0]

array([1.        , 0.30484464, 0.00494633, ..., 0.03784952, 0.00503607,
       0.01186318])

In [19]:
df.head()

,artist,song,text
0,Stevie Wonder,My Girl,i 've got sunshin on a cloudi day when it 's c...
1,Toto,Falling In Between,"i 've just got to find find a way , back home ..."
2,Kris Kristofferson,The Bandits Of Beverly Hills,the knew the moment their eye came togeth they...
3,John Prine,Take The Star Out Of The Window,robert wa a sailor for the best year of hi lif...
4,Dean Martin,Dream,star shine bright abov you night breez seem to...

In [21]:
df[df['song'] == 'My Girl']

,artist,song,text
0,Stevie Wonder,My Girl,i 've got sunshin on a cloudi day when it 's c...
4917,Westlife,My Girl,i 've got sunshin on a cloudi day when it 's c...

In [22]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [24]:
recommendation('My Girl')

['My Girl',
 'Out Of Town Girl',
 'Ordinary Girl',
 'Go On Girl',
 'Never Met A Girl Like You',
 'I Met A Girl',
 "I'm In Love With A White Girl",
 'Girls! Girls! Girls!',
 'For You Blue',
 "I'm Not A Girl, Not Yet",
 'Go Girl',
 'There Goes My Baby',
 'Same Girl',
 'Girl On Fire',
 'Just Be Your Tear',
 "I'm Satisfied",
 "Big Girls Don't Cry",
 'Girl I Almost Knew',
 'New Girl In Town',
 'Back To The Way We Are']

In [28]:
import pickle
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [27]:
pickle.dump(df, open('df.pkl', 'wb'))